html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    font-size: 0;
    vertical-align: top;
}

/* 
    Custom CSS 
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

/* 
    Custom CSS 
*/

/* MODULAR CLASSES */

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 0 1rem;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* HEADER */

header {
	line-height: 1.5;
}
.nav-bar {
	justify-content: space-around;
}
.logo {
	width: 100%;
	justify-content: center;
	padding: 1rem;
}
.menu-links {
	justify-content: center;
	width: 100%;
}
.menu-links a {
	padding: 0.5rem;
	font-weight: 400;
}
header h1 {
	font-size: 1.5rem;
	font-weight: bold;
}
.hero h2 {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem 0 1rem 0;
}
.hero {
	padding: 1.5rem;
	text-align: center;
}
/* MAIN */

	/*Tiles*/

.tiles {

}

.tiles article {
	margin: 2rem 0;
	width: 100%;
	position: relative;
}

.tile {
	padding: -2rem;
}

.image {
	position: relative;
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0.25rem;
}

.tile img {
	display: block;
	border-radius: 0.25rem;
	width: 100%;
}

.tile a {
	color: #ffffff;
	line-height: 1.5;
	letter-spacing: 0.035rem;
	vertical-align: top;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	border-radius: 0.25rem;
	z-index: 3;
	padding: 1rem;
	
}

.tile h2 {
	font-size: 1rem;
	letter-spacing: 0.35rem;
	font-weight: 900;
	text-transform: uppercase;
	/*line-height: 1.5;*/
}

.tile p {
	font-weight: 200;
}

.style-1 {
	background: rgba(239,83,80 ,0.5);
}

.style-1:hover {
	background: none;
}

.style-2 {
	background: rgba(66,165,245 ,0.5);
}

.style-2:hover {
	background: none;
}

.style-3 {
	background: rgba(38,166,154 ,0.5);
}

.style-3:hover {
	background: none;
}

@media all and (min-width: 768px) {
	.tiles article {
		width: 30%;
		margin: 2rem 0.5rem;
		justify-content: space-between;
	}
}
/* FOOTER 
=======
/* FOOTER */

/* Header Media Query */

@media all and (min-width: 600px) {
	html {
		font-size: 18px;
	}
	.menu-links {
		width: 60%;
		align-items: center;
		justify-content: flex-end;
	}
	.logo {
		width: 30%;
		justify-content: flex-start;
		padding-left: 0;
	}
	
}